---
import Axelist from "../components/Axelist.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <table class="container">
      <thead>
        <tr>
          <th><h1>N°</h1></th>
          <th><h1>Name</h1></th>
          <th><h1>VentaMinima</h1></th>
          <th><h1>fehca-hora</h1></th>
          <th><h1>Ubicacion</h1></th>
          <th><h1>__</h1></th>
        </tr>
      </thead>
      <tbody id="mostrar-datos">
        <Axelist />
      </tbody>
    </table>
  </body>
</html>
