*{
box-sizing: border-box;
}



body{
    margin: 0;
    padding: 0;
    background-color: #19293a;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');





h1 {
    font-family: 'Righteous', sans-serif;
    color: rgba(255, 255, 255, 0.98);
    text-transform: uppercase;
    font-size: 0.8rem;
}

p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.contenedor_fomulario{
        margin-top: 5rem;
            margin-left: 20vw;
                margin-right: 20vw;
                            font-weight: bold;
                                font-size: 1em;
                                text-align: center;
                                color: #10a3e7;
                text-align: center;
                display: flex;
                flex-direction: column;
                padding: 0.2rem;
                align-items: center;
                justify-content: center;
                background-color: #101725;
}



.armas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    
}
.ciudades{
    padding: 3px;
    background-color: #2c3655;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
}
.ciudad label{
    display: flex;
    flex-direction: column;
}
#label_ubicacion{
margin-top: 1rem;
    }

    /*Aqui empieza el los estilos de la tabla*/
        .container th h1 {
            font-weight: bold;
            font-size: 1em;
            text-align: center;
            color: #185875;
        }
    
        .container td {
            font-weight: normal;
            font-size: 1em;
            -webkit-box-shadow: 0 2px 2px -2px #0E1119;
            -moz-box-shadow: 0 2px 2px -2px #0E1119;
            box-shadow: 0 2px 2px -2px #0E1119;
        }
    
        .container {
            text-align: center;
            overflow: hidden;
            width: 80%;
            margin: 0 auto;
            display: table;
            padding: 0 0 0 0;
        }
    
    
        /* Background-color of the odd rows */
        .container tr:nth-child(odd) {
            background-color: #31405e;
        }
    
        /* Background-color of the even rows */
        .container tr:nth-child(even) {
            background-color: #40495e;
        }
    
        .container th {
            background-color: #101725;
        }
    
        .container td:first-child {
            color: #FB667A;
        }
    
        .container tr:hover {
            background-color: #4655ac;
            -webkit-box-shadow: 0 6px 6px -6px #0E1119;
            -moz-box-shadow: 0 6px 6px -6px #0E1119;
            box-shadow: 0 6px 6px -6px #0E1119;
        }
    
        .container td:hover {
            background-color: #3649b3;
            color: #080804;
            font-weight: bold;
           
        }
    
        @media (max-width: 700px) {
    
            .container td:nth-child(4),
            .container th:nth-child(4) {
                display: none;
            }
        }




